<!DOCTYPE html>
<head>
  <nav class="navbar navbar-default navbar-fixed-top">
    <%= render 'pages/navbar' %>
  </nav>
</head>

<body>
  <section id="company-s1">
    <div id="company-s1-text">
      <div id="company-s1-heading-a">OUR COMPANY</div>
      <div id="company-s1-heading-b">ROYAL CLASS GROUP</div>
      <div id="company-s1-description">“The corporate success of the Royal<br>Class Group was due to pure desire,<br>determination, discipline, dedication<br>and devotion.”</div>
    </div>
  </section>

  <section id="company-s2">
    <center><div id="company-s2-text">
      The corporate success of Royal Class Group was due to the Desire, Determination,<br>Discipline, Dedication and Devotion of its Founder, Jose Emmanuel “Joel” P.<br>Guillermo, and a well respected and seasoned Entrepreneur with a rare mix<br>of Passion, Professionalism, and Experience in the fields of Sales & Marketing,<br>Operations & Logistics, Human Resource Management, Accounting<br>and Finance.  He has risen top in each of these fields which he specializes<br>and has led him to start and build his small enterprise in 1989.<br><br>Today, Royal Class Group has curved a name in the Oil Industry as a Retailer and<br>Wholesaler of Fuels and Lubricants, operating several Shell Gas Stations<br>in Northern Luzon. The Corporation is one of the biggest Distributor and Hauler<br>of Asphalt in the country. They construct asphalt roads and small buildings. The<br>Corporation is also into the Trucking Business serving as the Hauler<br>of Multinational Companies. The Corporation maintain high quality standards<br>of efficiency and effectiveness as well as providing value-added services making<br>our Company highly credible and respected in the various businesses<br>they come in contact with.
    </div></center>
  </section>

  <section id="company-s3">
  </section>

  <section id="company-s4">
    <div class="company-text">
      <div class="company-heading">VISION</div>
      <div class="company-description">“To be the most Preferred Provider<br>of Quality Petroleum Products<br>and Excellent Services”</div>
    </div>
  </section>

  <section id="company-s5">
    <div id="company-s5-a" class="company-s5-dark">
      <div class="company-heading">MISSION</div>
      <div class="company-description">“Excellence in our Services and Recognize<br>that Customer Satisfaction is the Essence<br>of our Business”</div>
    </div>

    <div id="company-s5-b" class="company-s5-light">
      <div class="company-description">“Sustain Growth through Dynamic<br>and Innovative Management of Revenue,<br>Resources, Costs and Investments”</div>
    </div>

    <div class="company-s5-c company-s5-dark">
      <div class="company-description">“Maximize the Value of our Enterprise<br>for our Stockholders”</div>
    </div>

    <div class="company-s5-c company-s5-light">
      <div class="company-description">“Uplift the Quality of Life<br>of our Employees and their Families”</div>
    </div>

    <div class="company-s5-c company-s5-dark">
      <div class="company-description">“A good Corporate Citizen<br>in the Areas where we operate”</div>
    </div>
  </section>

  <section id="company-s6">
    <div class="company-text" id="culture">
      <div class="company-heading">CULTURE</div>
      <div class="company-description">“We push to establish a culture devoted<br>passionately to service excellence.”</div>
    </div>
  </section>

  <section id="company-s7">
      <span class="company-s7-initial">C</span>OMPETENCE<br>
      <div class="company-s7-description"><span class="company-s7-description-initial">P</span>OSSESSION OF THE REQUIRED SKILLS AND<br>KNOWLEDGE TO PERFORM THE SERVICE.</div>
      <span class="company-s7-initial">U</span>NDERSTANDING<br>
      <div class="company-s7-description"><span class="company-s7-description-initial">I</span>NVOLVES MAKING THE EFFORT TO UNDERSTAND<br>THE CUSTOMERS' AND EMPOYEES' NEEDS.</div>
      <span class="company-s7-initial">S</span>INCERITY<br>
      <div class="company-s7-description"><span class="company-s7-description-initial">A</span>SSURING CUSTOMERS AND EMPLOYEES<br>FREEDOM FRM DANGER, RISK OR DOUBT.</div>
      <span class="company-s7-initial">T</span>EAMWORK<br>
      <div class="company-s7-description"><span class="company-s7-description-initial">C</span>ONCERNS THE WILLINGNESS OR READINESS OF<br>EMPLOYEES TO PROVIDE SERVICE. IT ALSO MEANS<br>LISTENING TO CUSTOMERS AND EMPLOYEES.</div>
      <span class="company-s7-initial">O</span>PEN <span class="company-s7-initial-dark">C</span>OMMUNICATION<br>
      <div class="company-s7-description"><span class="company-s7-description-initial">K</span>EEPING CUSTOMERS AND EMPLOYEES INFORMED<br>IN LANGUAGE THEY CAN UNDERSTAND. IT ALSO<br>MEANS LISTENING TO CUSTOMERS AND EMPLOYEES.</div>
      <span class="company-s7-initial">M</span>ANIFESTATION<br>
      <div class="company-s7-description"><span class="company-s7-description-initial">I</span>NCLUDES PHYSICAL EVIDENCE OF THE SERVICES<br>SUCH AS THE APPEARANCE OF THE DELIVERY<br>FACILITIES AND EMPLOYEES.</div>
      <span class="company-s7-initial">E</span>MPOWERMENT<br>
      <div class="company-s7-description"><span class="company-s7-description-initial">E</span>NCOURAGES CONTINUOUS CREATIVITY AND<br>INNOVATION WHILE HAVING THE CUSTOMER'S<br>BEST INTEREST AT HEART.</div>
      <span class="company-s7-initial">R</span>OLE <span class="company-s7-initial-dark">M</span>ODEL<br>
      <div class="company-s7-description"><span class="company-s7-description-initial">I</span>T INVOLVES POLITENESS, RESPECT, CONSIDERATION<br>AND FRIENDLINESS OF ALL EMPLOYEES TO ALL<br>CUSTOMERS.</div>
      <span class="company-s7-initial">S</span>ELF-<span class="company-s7-initial-dark">D</span>ISCIPLINE
      <div class="company-s7-description"><span class="company-s7-description-initial">I</span>NVOLVES CONSISTENCY OF PERFORMANCE AND<br>DEPENDABILITY, EMPLOYEES PERFORMING THEIR<br>SERVICE RIGHT THE FIRST TIME WITHOUT BEING TOLD.</div>
  </section>

</body>
