<!DOCTYPE html>
<head>
  <% meta title: "Our Company",
    description: "The corporate success of the Royal Class Group was due to pure desire, determination, discipline, dedication and devotion.",
    keywords: ["Royal Class", "Royal Class Group","petroleum","Jose Emmanuel 'Joel' P. Guillermo", "oil industry", "fuels", "lubricants","asphalt roads","trucking business","Hauler of Multinational Companies"]
  %>
  <nav class="navbar navbar-default navbar-fixed-top">
    <%= render 'pages/navbar' %>
  </nav>
</head>

<body>
  <section id="company-s1">
    <div id="company-s1-text">
      <div id="company-s1-heading-a">OUR COMPANY</div>
      <div id="company-s1-heading-b">ROYAL CLASS GROUP</div>
      <div id="company-s1-description">“The corporate success of the Royal<br>Class Group was due to pure desire,<br>determination, discipline, dedication<br>and devotion.”</div>
    </div>
  </section>

  <div id="background"></div>
  <section id="company-s2">
    <div id="company-s2-text">
    The corporate success of Royal Class Group was due to the Desire, Determination, Discipline, Dedication and Devotion of its Founder, Jose Emmanuel “Joel” P. Guillermo, and a well respected and seasoned Entrepreneur with a rare mix of Passion, Professionalism, and Experience in the fields of Sales & Marketing, Operations & Logistics, Human Resource Management, Accounting and Finance. He has risen top in each of these fields which he specializes and has led him to start and build his small enterprise in 1989. <br><br>Today, Royal Class Group has curved a name in the Oil Industry as a Retailer and Wholesaler of Fuels and Lubricants, operating several Shell Gas Stations in Northern Luzon. The Corporation is one of the biggest Distributor and Hauler of Asphalt in the country. They construct asphalt roads and small buildings. The Corporation is also into the Trucking Business serving as the Hauler of Multinational Companies. The Corporation maintain high quality standards of efficiency and effectiveness as well as providing value-added services making our Company highly credible and respected in the various businesses they come in contact with.
    </div>
<div id="timeline"></div>
<div class=" timlinecont1">
  <div class="timelineheader">
  <span class="timeliney">1992 - 1998</span>
  <br>
    <span class="timelineh">AN OPPORTUNITY FROM THE RUBBLE</span>
    <hr class="hrred">
  </div>
  <ul class="timeline">
    <li>
      <div class="timeline-badge"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">The Trucking Business</h4>
        </div>
         <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:right;">The company first ventured into the Trucking Business, providing hauling services to La Tondena Distillers, Inc. Their business name then was JEG Trucking.</h4>
        </div>

      </div>
      <br>
        <h4 class="timeline-titled">1992</h4>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-titler">Preparing for Expansion</h4>
        </div>
        <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:left;">During the earthquake rehabilitation in Pangasinan, the Founder applied as a Shell dealer in Tapuac, DagupanCity. This was also the year when the company started developing their Truck Yard in preparation for the expansion of their trucking business.</h4>
        </div>
      </div>
      <br>
      <h4 class="timeline-titlerd">1993</h4>
    </li>
    <li>
      <div class="timeline-badge"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"style="text-align:right;">The Big Break</h4>
        </div>
        <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:right;">This was the year when the Founder received one of his biggest breaks in business. He became the new Shell Dealer of a company-owned station in Tapuac, DagupanCity. During that time, Dagupan Shell Service Station is the biggest station in Dagupan City not only in terms of size, but also in terms of volume; thereby, making the Founder a Multi-Awarded Dealer of Shell, awarding them with Foreign Trips and other perks.</h4>
        </div>

      </div>
      <br>
        <h4 class="timeline-titled">1994</h4>
    </li>
        <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-titler">Expansion to Supplying of Asphalt</h4>
        </div>
        <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:left;">Due to the Founder's Exemplary Performance as a Shell Retailer, the Founder was appointed as Shell Bitumen Distributor for Northern and Central Luzon. It was during this time when foreign-funded road projects were under-construction. This opened a grand opportunity for the Founder to expand their business and through his sheer determination, passion and perseverance, most of the asphalt requirements of the projects were supplied by the company, which led the Company’s first chapter in its road to success. Due to the Founder, Shell Bitumen became North Luzon's primary supplier of Asphalt. This impressive business feat made JPGLobal Ventures Corporation one of the biggest suppliers of Bitumen/Asphalt to affiliate Asphalt Plants, as well as to construction projects in Luzon, Metro Manila, the Visayas, and other regions in the country.</h4>
        </div>
      </div>
      <br>
      <h4 class="timeline-titlerd">1995</h4>
    </li>
     <li>
      <div class="timeline-badge"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"style="text-align:right;">Hauling for San Miguel B-Meg</h4>
        </div>
        <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:right;">The Company started hauling for San Miguel B-Meg, hauling soya and feeds from their various plants all over Luzon.</h4>
        </div>

      </div>
      <br>
        <h4 class="timeline-titled">1996</h4>
    </li>
        <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-titler">Hauling Republic Asahi Glass Corporation</h4>
        </div>
        <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:left;">The Company started  started hauling for Republic Asahi Glass Corporation.</h4>
        </div>
        
      </div>
      <br>
      <h4 class="timeline-titlerd">1997</h4>
    </li>
    <li>
      <div class="timeline-badge"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"style="text-align:right;">Appoinment as Pilipinas Shell's Distibutor</h4>
        </div>
        <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:right;">In view of the company's excellent performance as a Shell Bitumen Distributor in North and Central Luzon, the Founder rightfully got appointed as Pilipinas Shell’s distributor for Shell Diesoline, Industrial Lubricants, and Bunker Fuel Oil.</h4>
        </div>

      </div>
      <br>
        <h4 class="timeline-titled">1998</h4>
    </li>
  </ul>
</div>
<div class=" timlinecont2">
  <div class="timelineheader">
  <span class="timeliney">1999 - 2002</span>
  <br>
    <span class="timelineh">A VISION FROM THE HORIZON</span>
    <hr class="hrred">
  </div>
  <ul class="timeline">
   <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-titler">Incorporation of Royal Class</h4>
        </div>
        <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:left;">The founder, at this time, was appointed as dealer of a Shell Service Station at Kalayaan Ave., Quezon City, Phils., named “Kalayaan Shell Service Station”. During this year, the company operated its first Dealer-owned station which they named "Reina Mercedes Shell Service Station".</h4>
        </div>
        
      </div>
      <br>
      <h4 class="timeline-titlerd">1999</h4>
    </li>
    <li>
      <div class="timeline-badge"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"style="text-align:right;">Hauling for Asian Terminals, Inc.</h4>
        </div>
        <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:right;">Asian Terminals, Inc. hired the company as a Franchised Hauler, providing trucking services for finished products, raw materials and parts of Ford, Honda, Toyota, Goodyear, P&G, SC Johnson and Mobil among others.</h4>
        </div>

      </div>
      <br>
        <h4 class="timeline-titled">2000</h4>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-titler">Expanding to Pangasinan and Tarlac</h4>
        </div>
        <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:left;">Through the Founder's resilient efforts, the company continued to expand towards the Wholesale for Reseller Stations that covered the areas of Pangasinan and Tarlac. Within that same year, a retail station in SantiagoCity, which was named “Santiago City Shell Service Station – I”, was also awarded to the company.</h4>
        </div>
        
      </div>
      <br>
      <h4 class="timeline-titlerd">2001</h4>
    </li>
    <li>
      <div class="timeline-badge"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"style="text-align:right;">Santiago City Shell Service Station – II</h4>
        </div>
        <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:right;">A second station within the same city was awarded again, which was named “Santiago City Shell Service Station – II”.</h4>
        </div>

      </div>
      <br>
        <h4 class="timeline-titled">2002</h4>
    </li>
  </ul>
</div>
<div class=" timlinecont2">
  <div class="timelineheader">
  <span class="timeliney">2003 - PRESENT</span>
  <br>
    <span class="timelineh"> SUSTAINED GROWTH; SUSTAINED CORPORATE ACHIEVEMENT</span>
    <hr class="hrred">
  </div>
  <ul class="timeline">
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-titler">Brand new Fuel Dispensing Pumps and Tanks<br>- Hauling for DHL, Global Forwarding</h4>
        </div>
        <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:left;">Mr. Guillermo started Marketing brand new Fuel Dispensing Pumps and Tanks needed for the operation of new retail stations. In the same year, the company started hauling for DHL Global Forwarding – servicing the requirements of Shell, Hewlett Packard, Del Monte, Sun Power, AZTEC, APC, Pinnacle, Sanyo Denkei, NIDEC CEPZ, GlaxoSmithKline, Moog Control Corp., Techno Freeze and export oriented multi-national companies based at EPZA and CALABARZON.</h4>
        </div>
        
      </div>
      <br>
      <h4 class="timeline-titlerd">2003</h4>
    </li>
    <li>
      <div class="timeline-badge"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"style="text-align:right;">
            Hauling for Geologistics and Yusen Air and Ocean
          </h4>
        </div>
        <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:right;">The company started Hauling for Geologistics and Yusen Air and Ocean – two of the biggest players in the Logistics business worldwide.</h4>
        </div>

      </div>
      <br>
        <h4 class="timeline-titled">2004</h4>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-titler">Hauling for Oilink International Corporation</h4>
        </div>
        <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:left;">The company started hauling for Oilink International Corporation– particularly their Distribution of Exxon Mobil Asphalt</h4>
        </div>
        
      </div>
      <br>
      <h4 class="timeline-titlerd">2005</h4>
    </li>
    <li>
      <div class="timeline-badge"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title" style="text-align:right;"> Hauling for Petron Corporation’s <br>Asphalt and Bunker Fuel Oil</h4>
        </div>
        <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:right;">The company started hauling for Petron Corporation’s Asphalt and Bunker Fuel Oil, after acquiring the company that was previously hauling for Petron;</h4>
        </div>

      </div>
      <br>
        <h4 class="timeline-titled">2006</h4>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-titler">Appointment as the Cluster of Shell for Several Provinces</h4>
        </div>
        <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:left;">The company took over the Operation of Ilagan Shell Service Station. In October 2007, the President was appointed as the Cluster of Shell for the provinces of Isabela, Quirino, Ifugao and soon Nueva Vizcaya.</h4>
        </div>
        
      </div>
      <br>
      <h4 class="timeline-titlerd">2007</h4>
    </li>
    <li>
      <div class="timeline-badge"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title" style="text-align:right;">Construction of 4 New Service Stations in Isabela</h4>
        </div>
        <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:right;">They were able to construct 4 new Service Stations in Isabela; and will be constructing 4 stations every year thereafter.</h4>
        </div>

      </div>
      <br>
        <h4 class="timeline-titled">2008</h4>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-titler">Supplying of Asphalt Project in Several Provinces</h4>
        </div>
        <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:left;">The company supplied most of the new Asphalting Projects in Bicol, Samar, Leyte, North and South Luzon.</h4>
        </div>
        
      </div>
      <br>
      <h4 class="timeline-titlerd">2009</h4>
    </li>
    <li>
      <div class="timeline-badge"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title" style="text-align:right;"style="text-align:right;">Hauling for 2GO Logistics Inc.</h4>
        </div>
        <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:right;">The Company started hauling for 2GO Logistics Inc. and still hauling up to this present.</h4>
        </div>

      </div>
      <br>
        <h4 class="timeline-titled">2012</h4>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-titler">Hauling for Seaoil Philippines</h4>
        </div>
        <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:left;">The company started hauling for Seaoil Philippines, Inc., carrying Ethanol from Isabela to Batangas.</h4>
        </div>
        
      </div>
      <br>
      <h4 class="timeline-titlerd">2013</h4>
    </li>
    <li>
      <div class="timeline-badge"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title" style="text-align:right;">Hauling for F2 Logistics Inc., LF Philippines Inc. and Megawide Construction Corporation</h4>
        </div>
        <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:right;">The company started constructing 3 gasoline stations in Delfin Albano, Osmena and Villa Paz at Isabela..Also hauling for F2 Logistics Inc. and LF Logistics Inc., D.M. Consunji, Inc.andMegawide Construction Corporation commenced during the year.</h4>
        </div>

      </div>
      <br>
        <h4 class="timeline-titled">2014</h4>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-titler">Hauling for D.M. Consunji, Inc<br>and PTT Philippines Inc.</h4>
        </div>
        <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:left;">The company started hauling for PTT Philippines Corp., carrying Bunker fuel from Subic to Norzagaray and La Union.</h4>
        </div>
        
      </div>
      <br>
      <h4 class="timeline-titlerd">2015</h4>
    </li>

  </ul>
</div>
  </section>

  <div id="timeline"></div>
  <section id="company-s3">
  </section>

  <div id="vision"></div>
  <section id="company-s4">
    <div class="company-text">
      <div class="company-heading">VISION</div>
      <div class="company-description">“To be the most Preferred Provider<br>of Quality Petroleum Products<br>and Excellent Services”</div>
    </div>
  </section>

  <div id="mission"></div>
  <section id="company-s5">
    <div id="company-s5-a" class="company-s5-dark">
      <div class="company-heading">MISSION</div>
      <div class="company-description">“Excellence in our Services and Recognize<br>that Customer Satisfaction is the Essence<br>of our Business”</div>
    </div>

    <div id="company-s5-b" class="company-s5-light">
      <div class="company-description">“Sustain Growth through Dynamic<br>and Innovative Management of Revenue,<br>Resources, Costs and Investments”</div>
    </div>

    <div class="company-s5-c company-s5-dark">
      <div class="company-description">“Maximize the Value of our Enterprise<br>for our Stockholders”</div>
    </div>

    <div class="company-s5-c company-s5-light">
      <div class="company-description">“Uplift the Quality of Life<br>of our Employees and their Families”</div>
    </div>

    <div class="company-s5-c company-s5-dark">
      <div class="company-description">“A good Corporate Citizen<br>in the Areas where we operate”</div>
    </div>
  </section>

  <div id="culture"></div>
  <section id="company-s6">
    <div class="company-text">
      <div class="company-heading">CULTURE</div>
      <div class="company-description">“We push to establish a culture devoted<br>passionately to service excellence.”</div>
    </div>
  </section>

  <div id="customers"></div>
  <section id="company-s7">
    <div class="company-s7-group">
      <span class="company-s7-heading"><span class="company-s7-initial">C</span>OMPETENCE</span><br>
      <div class="company-s7-description"><span class="company-s7-description-initial">P</span>OSSESSION OF THE REQUIRED SKILLS AND<br>KNOWLEDGE TO PERFORM THE SERVICE.</div>
    </div><br>
    <div class="company-s7-group">
      <span class="company-s7-heading"><span class="company-s7-initial">U</span>NDERSTANDING</span><br>
      <div class="company-s7-description"><span class="company-s7-description-initial">I</span>NVOLVES MAKING THE EFFORT TO UNDERSTAND<br>THE CUSTOMERS' AND EMPOYEES' NEEDS.</div>
    </div><br>
    <div class="company-s7-group">
      <span class="company-s7-heading"><span class="company-s7-initial">S</span>INCERITY</span><br>
      <div class="company-s7-description"><span class="company-s7-description-initial">A</span>SSURING CUSTOMERS AND EMPLOYEES<br>FREEDOM FRM DANGER, RISK OR DOUBT.</div>
    </div><br>
    <div class="company-s7-group">
      <span class="company-s7-heading"><span class="company-s7-initial">T</span>EAMWORK</span><br>
      <div class="company-s7-description"><span class="company-s7-description-initial">C</span>ONCERNS THE WILLINGNESS OR READINESS OF<br>EMPLOYEES TO PROVIDE SERVICE. IT ALSO MEANS<br>LISTENING TO CUSTOMERS AND EMPLOYEES.</div>
    </div><br>
    <div class="company-s7-group">
      <span class="company-s7-heading"><span class="company-s7-initial">O</span>PEN <span class="company-s7-initial-dark">C</span>OMMUNICATION</span><br>
      <div class="company-s7-description"><span class="company-s7-description-initial">K</span>EEPING CUSTOMERS AND EMPLOYEES INFORMED<br>IN LANGUAGE THEY CAN UNDERSTAND. IT ALSO<br>MEANS LISTENING TO CUSTOMERS AND EMPLOYEES.</div>
    </div><br>
    <div class="company-s7-group">
      <span class="company-s7-heading"><span class="company-s7-initial">M</span>ANIFESTATION</span><br>
      <div class="company-s7-description"><span class="company-s7-description-initial">I</span>NCLUDES PHYSICAL EVIDENCE OF THE SERVICES<br>SUCH AS THE APPEARANCE OF THE DELIVERY<br>FACILITIES AND EMPLOYEES.</div>
    </div><br>
    <div class="company-s7-group">
      <span class="company-s7-heading"><span class="company-s7-initial">E</span>MPOWERMENT</span><br>
      <div class="company-s7-description"><span class="company-s7-description-initial">E</span>NCOURAGES CONTINUOUS CREATIVITY AND<br>INNOVATION WHILE HAVING THE CUSTOMER'S<br>BEST INTEREST AT HEART.</div>
    </div><br>
    <div class="company-s7-group">
      <span class="company-s7-heading"><span class="company-s7-initial">R</span>OLE <span class="company-s7-initial-dark">M</span>ODEL</span><br>
      <div class="company-s7-description"><span class="company-s7-description-initial">I</span>T INVOLVES POLITENESS, RESPECT, CONSIDERATION<br>AND FRIENDLINESS OF ALL EMPLOYEES TO ALL<br>CUSTOMERS.</div>
    </div><br>
    <div class="company-s7-group">
      <span class="company-s7-heading"><span class="company-s7-initial">S</span>ELF-<span class="company-s7-initial-dark">D</span>ISCIPLINE</span>
      <div class="company-s7-description"><span class="company-s7-description-initial">I</span>NVOLVES CONSISTENCY OF PERFORMANCE AND<br>DEPENDABILITY, EMPLOYEES PERFORMING THEIR<br>SERVICE RIGHT THE FIRST TIME WITHOUT BEING TOLD.</div>
    </div>
  </section>

</body>
