<!DOCTYPE html>
<head>
  <nav class="navbar navbar-default navbar-fixed-top">
    <%= render 'pages/navbar' %>
  </nav>
</head>

<body>
  <section id="jpgv-s1-left">
  </section>
  <section id="jpgv-s1-right">
  </section>
  <%=image_tag "https://s3.amazonaws.com/royalclass/jpgv-color-min.png", :style => "width: 750px; margin-top: 35vh; margin-left: 7vw; position:absolute;"%>
  <div id="jpgv-s1-text">
    Engaged in the retailing of fuels<br>and importation of Sinotruk and CIMC vehicles.
  </div>

  <section id="jpgv-s1">
  </section>

  <section id="jpgv-s2">
    <div class="rc-table-heading">
      <div class="row">
        <div class="col-md-6">
          <div class="rc-table-heading-text">PRODUCTS & SERVICES</div>
        </div>
        <div class="col-md-6">
          <div class="rc-table-heading-text">DESCRIPTION</div>
        </div>
      </div>
    </div>

    <div class="rc-table-white-row">
      <div class="row">
        <div class="col-md-6">
         <div class="rc-table-left-col">DIESEL FUELS</div>
        </div>
        <div class="col-md-6">
          <div class="rc-table-right-col">
            <span class="rc-table-right-col-description">Comes in two broad groups, the higher quality and the lower<br>quality product. Automotive Diesel Oil (ADO) which<br>is the higher quality product are used in high speed car<br>and truck engines; while Industrial Diesel Oil (IDO),<br>the lower quality are used in machine engines<br>or in stationary power plants.</span><br><br>
            <span class="rc-table-right-col-heading">The ADO is a biodiesel with the following benefits:</span><br>
            <span class="rc-table-right-col-description">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Made with 2% Coconut Methyl Ester (CME) in<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;compliance with the 2006 Biofuels Act<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- The 2% CME provides advanced lubrication that<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;protects your engine while facilitating fuel efficiency.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- More environment-friendly:<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- At least Euro IV standard<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Reduces serious pollutants such as carbon monoxide,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;hydrocarbons, and other air toxins<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Biodegradable, non-toxic and essentially free of sulfur<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- More fuel-efficient:<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- May help add up to 30% mileage</span>
          </div>
        </div>
      </div>
    </div>

    <div class="rc-table-gray-row">
      <div class="row">
        <div class="col-md-6">
         <div class="rc-table-left-col">GASOLINE FOR CARS<br>AND OTHER VEHICLES</div>
        </div>
        <div class="col-md-6">
          <div class="rc-table-right-col">
            <span class="rc-table-right-col-description">These are also known as petrol and form one of the most<br>important refinery products. The final fuel used in transport<br>which the refinery produces is a carefully blended mixture.<br>An important quality of this fuel is the so called anti-knock<br>quality of gasoline which comes with higher octane rates<br>produced in subsequent refining processes.</span><br><br>
            <span class="rc-table-right-col-heading">The gasoline is a biofuel with the following benefits:</span><br>
            <span class="rc-table-right-col-description">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Contains 10% ethanol in compliance with<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the 2006 Biofuels Act<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- More environment-friendly:<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- The ethanol content is an oxygenate which helps<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the gasoline to burn more completely, resulting<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;in less pollution.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Reduces emission of carbon monoxide, particulate<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;matter, nitrogen oxides, and other ozone-forming<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pollutants, thus promoting cleaner emissions.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- At least Euro IV standard<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Better for the engine:<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Prevents premature detonation under load<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Boosts engine power and overall performance<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- More efficient burn resulting in better fuel efficiency<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and better savings<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Cleans and protects the engine
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="rc-table-white-row">
      <div class="row">
        <div class="col-md-6">
         <div class="rc-table-left-col">LUBRICATING OILS</div>
        </div>
        <div class="col-md-6">
          <div class="rc-table-right-col">
            <span class="rc-table-right-col-description">Lubricating Oils comes from a wide range of products from<br>a very fine fluid lubricant to a heavy viscous oil and grease.<br>These are used to lubricate engines used in transportation<br>and in industries.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="rc-table-gray-row">
      <div class="row">
        <div class="col-md-6">
         <div class="rc-table-left-col">SHOP</div>
        </div>
        <div class="col-md-6">
          <div class="rc-table-right-col">
            <span class="rc-table-right-col-description">Convenient Store, Selling of Oils & Lubricant.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="rc-table-white-row">
      <div class="row">
        <div class="col-md-6">
         <div class="rc-table-left-col">SERVICE BAY</div>
        </div>
        <div class="col-md-6">
          <div class="rc-table-right-col">
            <span class="rc-table-right-col-description">Car Wash and Service Bay with mechanics on duty<br>(for car check-up, repairs, and maintenance).</span><br><br>
          </div>
        </div>
      </div>
    </div>

    <div class="rc-table-gray-row">
      <div class="row">
        <div class="col-md-6">
         <div class="rc-table-left-col">SINOTRUCK MAN TECHNOLOGY</div>
        </div>
        <div class="col-md-6">
          <div class="rc-table-right-col">
            <span class="rc-table-right-col-description">Authorized Distributor of Sinotruk products such as Luxury<br>Coach Bus, T7H Tractor Head / Dump Truck / Mining Truck /<br>Mixer Truck/ Cargo Truck & Oil Tanker</span><br><br>
          </div>
        </div>
      </div>
    </div>

    <div class="rc-table-white-row">
      <div class="row">
        <div class="col-md-6">
         <div class="rc-table-left-col">CIMC VEHICLES</div>
        </div>
        <div class="col-md-6">
          <div class="rc-table-right-col">
            <span class="rc-table-right-col-description">Authorized Dealer of CIMC Trailers & Tankers</span><br><br>
          </div>
        </div>
      </div>
    </div>

    <div class="rc-table-view-gallery">
      <%= link_to(jpgv_gallery_path, html_options = {class: 'view-gallery-link'}) do  %>
        VIEW GALLERY
      <% end %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to(jpgv_sinotruk_path, html_options = {id: 'view-sinotruk-link'}) do  %>
        SINOTRUK / CIMC DETAILS
      <% end %>
    </div>
  </section>

  <section class="rc-table-footer">
    <div class="rc-table-footer-text">
      <span class="rc-table-footer-heading">FOR INQUIRIES:</span><br>
      <span class="rc-table-footer-description">jpglobalventures@yahoo.com</span>
    </div>
  </section>

</body>
