<!DOCTYPE html>
<% meta title: "JPGlobal Ventures SINOTRUK",
    description: "Engaged in the retailing of fuels and importation of Sinotruk and CIMC vehicles.",
    keywords: ["Royal Class", "Royal Class Group","JPGlobal Ventures","SINOTRUK","CIMC"]
%>
<body>
  <section class="rc-gallery">
    <div class="gallery-logo"><center>
      <%= link_to(jpgv_path, html_options = {class: 'back-from-gallery-link'}) do  %> 
        <%= image_tag "https://s3.amazonaws.com/royalclass/arrows_slide_left1-min.png" %>
      <% end %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= image_tag "https://s3.amazonaws.com/royalclass/jpgv-color-min.png", :style => "width: 650px;"%>
    </center></div>
    <div class="gallery-images">
    </div>
  </section>

</body>
