<!DOCTYPE html>
<% meta title: "JPGlobal Ventures Sinotruk CIMC | Royal Class Group"
%>
<body>
  <section class="rc-gallery">
    <div class="gallery-logo"><center>
      <%= link_to(jpgv_path, html_options = {class: 'back-from-gallery-link'}) do  %> 
        <%= image_tag "https://s3.amazonaws.com/royalclass/arrows_slide_left1-min.png" %>
      <% end %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= image_tag "https://s3.amazonaws.com/royalclass/jpgv-color-min.png", :style => "width: 650px;", :alt => "JPGlobal Ventures logo"%>
    </center></div>
    <div class="gallery-images-sinotruk">
      <% (1..6).each do |i| %>
        <div class="gallery-image-box-sinotruk">
          <%= image_tag "https://s3.amazonaws.com/royalclass/cimc-#{i}.jpg", :style => "width: 100%;" %>
        </div>
      <% end %>
    </div>
  </section>

</body>
