<!DOCTYPE html>
<% meta title: "Royal Class Foundation | Royal Class Group",
    description: "Royal Class Foundation is engaged in CSR and charity projects which include greening and feeding programs, and medical and dental missions.",
    keywords: ["Royal Class Foundation"]
%>
<head>
  <nav class="navbar navbar-default navbar-fixed-top">
    <%= render 'pages/navbar' %>
  </nav>
</head>

<body>
  <section id="rcf-s1">
    <%=image_tag "https://s3.amazonaws.com/royalclass/rcf-color-min.png", :style => "width: 400px; margin-top: 28vh; margin-left: 7vw;"%>
    <div class="rc-s1-text">
      Engaged in CSR and charity projects which include<br>
      Tree planting / Greening program, Feeding program<br>
      (at the orphanage), Wheelchair donation program,<br>
      and Medical and dental missions
    </div>
  </section>

    <section id="rcf-s2">
      <div class="rc-table-view-gallery">
        <%= link_to(rcf_gallery_path, html_options = {class: 'view-gallery-link'}) do  %>
          VIEW GALLERY
        <% end %>
      </div>
    </section>

</body>
