<!DOCTYPE html>
<head>
  <nav class="navbar navbar-default navbar-fixed-top">
    <%= render 'pages/navbar' %>
  </nav>
</head>

<body>
  <section id="rcf-s1">
    <%=image_tag "https://s3.amazonaws.com/royalclass/rcf-color-min.png", :style => "width: 400px; margin-top: 28vh; margin-left: 7vw;"%>
    <div class="rc-s1-text">
      Engaged in CSR and charity projects which include<br>
      Tree planting / Greening program, Feeding program<br>
      (at the orphanage), Wheelchair donation program,<br>
      and Medical and dental missions
    </div>
  </section>

</body>
