<!DOCTYPE html>
<!DOCTYPE html>
<% meta title: "Royal Class Petroleum",
    description: "Engaged in the wholesale and distribution of petroleum products such as fuels, asphalt, etc.",
    keywords: ["Royal Class", "Royal Class Group","Royal Class Petroleum","bitumen","asphalt","diesel fuels","bunker","fuel oils","gasoline","lubricating oils","waxes","aviation fuels","jet fuels","gas oil","kerosene","petroleum"]
%>
<head>
  <nav class="navbar navbar-default navbar-fixed-top">
    <%= render 'pages/navbar' %>
  </nav>
</head>

<body>
  <section id="rcp-s1">
    <%=image_tag "https://s3.amazonaws.com/royalclass/rcp-fc-min.png", :style => "width: 300px; margin-top: 30vh; margin-left: 7vw;"%>
    <div class="rc-s1-text">
      Engaged in the wholesale and distribution of<br>
      petroleum products such as fuels, asphalt, etc.
    </div>
  </section>

  <section id="rcp-s2">
    <div class="rc-table-heading">
      <div class="row">
        <div class="col-md-6">
          PRODUCTS & SERVICES
        </div>
        <div class="col-md-6">
          DESCRIPTION
        </div>
      </div>
    </div>

    <div class="rc-table-white-row">
      <div class="row">
        <div class="col-md-6">
         <div class="rc-table-left-col">BITUMEN / ASPHALT<br><span class="rc-table-left-col-sub">such as 60/70, SS-1, MC-70 & MC-250</span></div>
        </div>
        <div class="col-md-6">
          <div class="rc-table-right-col">
            <span class="rc-table-right-col-description">Are sometimes referred to as Asphalt used in Roads,
            for roofing and waterproofing. It is normally produced to certain standards of hardness or softness in a controlled vacuum distillation process.</span><br><br>
            <span class="rc-table-right-col-heading">60/70 (Asphalt Cement) Physical and Chemical Properties:</span><br>
            <span class="rc-table-right-col-description">Color: Black<br>Appearance: Homogenous<br>Density at 15 deg. Celsius: 1.03 kg/L<br>Penetration at 25 deg. Celsius, 100 g, 5 s: 65<br>Softening Point, R&B: 51 deg. Celsius</span><br><br>
            <span class="rc-table-right-col-heading">MC-70 (Cutback Asphalt) Physical and Chemical Properties:</span><br>
            <span class="rc-table-right-col-description">Color: Black<br>Appearance: Homogeneous<br>Density at 15 deg. Celsius: 952 kg/m3<br>Penetration at 25 deg. Celsius, 100 g, 5 s, mm/10: 180<br>Viscosity, cSt</span><br><br>
            <span class="rc-table-right-col-heading">MC-250 (Cutback Asphalt) Physical and Chemical Properties:</span><br>
            <span class="rc-table-right-col-description">Color: Black<br>Appearance: Homogeneous<br>Density at 15 deg. Celsius: 971 kg/m3<br>Penetration at 25 deg. Celsius, 100 g, 5 s, mm/10: 226<br>Viscosity, cSt at 60 deg. Celsius: 436</span>
          </div>
        </div>
      </div>
    </div>

    <div class="rc-table-gray-row">
      <div class="row">
        <div class="col-md-6">
         <div class="rc-table-left-col">DIESEL FUELS</div>
        </div>
        <div class="col-md-6">
          <div class="rc-table-right-col">
            <span class="rc-table-right-col-description">Comes in two broad groups, the higher quality and the lower quality product. Automotive Diesel Oil (ADO) which is the higher quality product are used in high speed car and truck engines; while Industrial Diesel Oil (IDO), the lower quality are used in machine engines or in stationary power plants.</span><br><br>
            <span class="rc-table-right-col-heading">The ADO is a biodiesel with the following benefits:</span><br>
            <span class="rc-table-right-col-description">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Made with 2% Coconut Methyl Ester (CME) in<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;compliance with the 2006 Biofuels Act<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- The 2% CME provides advanced lubrication that<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;protects your engine while facilitating fuel efficiency.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- More environment-friendly:<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- At least Euro IV standard<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Reduces serious pollutants such as carbon monoxide,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;hydrocarbons, and other air toxins<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Biodegradable, non-toxic and essentially free of sulfur<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- More fuel-efficient:<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- May help add up to 30% mileage
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="rc-table-white-row">
      <div class="row">
        <div class="col-md-6">
         <div class="rc-table-left-col">BUNKER / FUEL OILS</div>
        </div>
        <div class="col-md-6">
          <div class="rc-table-right-col">
            <span class="rc-table-right-col-description">Are largely used in power stations, ships and industry furnaces. Bunker oils are used to power large low speed marine engines and are usually a mixture of inexpensive fuel oils from the residue. Since fuel oils covers a wide range of uses from domestic heating and cooking to industrial heating, market requirements vary enormously from place to place and according to quality specifications. Standards are usually set in terms of viscosity and sulfur content.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="rc-table-gray-row">
      <div class="row">
        <div class="col-md-6">
         <div class="rc-table-left-col">GASOLINE FOR CARS<br>AND OTHER VEHICLES</div>
        </div>
        <div class="col-md-6">
          <div class="rc-table-right-col">
            <span class="rc-table-right-col-description">These are also known as petrol and form one of the most important refinery products. The final fuel used in transport which the refinery produces is a carefully blended mixture. An important quality of this fuel is the so called anti-knock quality of gasoline which comes with higher octane rates produced in subsequent refining processes</span><br><br>
            <span class="rc-table-right-col-heading">The gasoline is a biofuel with the following benefits:</span><br>
            <span class="rc-table-right-col-description">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Contains 10% ethanol in compliance with<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the 2006 Biofuels Act<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- More environment-friendly:<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- The ethanol content is an oxygenate which helps<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the gasoline to burn more completely, resulting<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;in less pollution.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Reduces emission of carbon monoxide, particulate<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;matter, nitrogen oxides, and other ozone-forming<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pollutants, thus promoting cleaner emissions.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- At least Euro IV standard<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Better for the engine:<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Prevents premature detonation under load<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Boosts engine power and overall performance<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- More efficient burn resulting in better fuel efficiency<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and better savings<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Cleans and protects the engine
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="rc-table-white-row">
      <div class="row">
        <div class="col-md-6">
         <div class="rc-table-left-col">LUBRICATING OILS / WAXES</div>
        </div>
        <div class="col-md-6">
          <div class="rc-table-right-col">
            <span class="rc-table-right-col-description">Lubricating Oils comes from a wide range of products from a very fine fluid lubricant to a heavy viscous oil and grease. These are used to lubricate engines used in transportation and in industries. Waxes, on the other hand, are used for candles, papers, waterproofing, etc.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="rc-table-gray-row">
      <div class="row">
        <div class="col-md-6">
         <div class="rc-table-left-col">AVIATION / JET FUELS</div>
        </div>
        <div class="col-md-6">
          <div class="rc-table-right-col">
            <span class="rc-table-right-col-description">Used for piston and turbine engine aircraft.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="rc-table-white-row">
      <div class="row">
        <div class="col-md-6">
         <div class="rc-table-left-col">GAS OIL / KEROSENE</div>
        </div>
        <div class="col-md-6">
          <div class="rc-table-right-col">
            <span class="rc-table-right-col-description">This is sometimes known as paraffin. This is used for central heating and in farm machinery including generator sets.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="rc-table-view-gallery">
      <%= link_to(rcp_gallery_path, html_options = {class: 'view-gallery-link'}) do  %>
        VIEW GALLERY
      <% end %>
    </div>
  </section>

  <section class="rc-table-footer">
    <div class="rc-table-footer-text">
      <span class="rc-table-footer-heading">FOR INQUIRIES:</span><br>
      <span class="rc-table-footer-description"><%= link_to 'royalclasspetroleum@gmail.com', 'https://www.gmail.com', target: '_blank', class: 'contact-email-link-gray' %></span>
    </div>
  </section>

</body>
