<!DOCTYPE html>
<head>
  <nav class="navbar navbar-default navbar-fixed-top">
    <%= render 'pages/navbar' %>
  </nav>
</head>

<body>
  <section id="rct-s1">
    <%=image_tag "https://s3.amazonaws.com/royalclass/rct-color-min.png", :style => "width: 500px; margin-top: 22vh; margin-left: 7vw;"%>
    <div class="rc-s1-text">
      Engaged in the trucking or hauling business. Hauling<br>of different kinds of products, such as petroleum, consumer<br>goods, containers, raw materials, construction materials,<br>wastes, excavated soil, coal, etc. Has different kinds of trucks<br>such as tankers, closed vans, wing vans, container chasis,<br>
      dump trucks, etc.
    </div>
  </section>

  <section id="rct-s2">
    <div class="rc-table-heading">
      <div class="row">
        <div class="col-md-6">
          PRODUCTS & SERVICES
        </div>
        <div class="col-md-6">
          DESCRIPTION
        </div>
      </div>
    </div>

    <div class="rc-table-white-row">
      <div class="row">
        <div class="col-md-6">
         <div class="rc-table-left-col">CONTAINER HAULING</div>
        </div>
        <div class="col-md-6">
          <div class="rc-table-right-col">
            <span class="rc-table-right-col-heading">Small to medium closed van trucks used:</span><br>
            <span class="rc-table-right-col-description">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4-wheelers, 6-wheelers, and 6-wheeler forwards</span><br>
            <span class="rc-table-right-col-heading">Medium to large trucks used:</span><br>
            <span class="rc-table-right-col-description">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10-wheeler wing van trucks</span><br>
            <span class="rc-table-right-col-heading">Large trucks used:</span><br>
            <span class="rc-table-right-col-description">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tractor heads with either 20- or 40-footer chassis trailers</span>
          </div>
        </div>
      </div>
    </div>

    <div class="rc-table-gray-row">
      <div class="row">
        <div class="col-md-6">
         <div class="rc-table-left-col">PETROLEUM HAULING<br>AND CHEMICAL HAULING</div>
        </div>
        <div class="col-md-6">
          <div class="rc-table-right-col">
            <span class="rc-table-right-col-heading">Different tanker sizes used:</span><br>
            <span class="rc-table-right-col-description">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;20 kL, 30 kL, 32 kL, 40 kL, 50 kL tankers</span><br>
            <span class="rc-table-right-col-heading">Hauling of different petroleum products such as </span><span class="rc-table-right-col-description">asphalt,<br>automotive fuels, bunker fuels, jet and aviation fuels, etc.</span><br>
            <span class="rc-table-right-col-heading">Hauling of different chemicals such as </span><span class="rc-table-right-col-description">ethanol, molasses,<br>and coconut methyl ester (CME), etc.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="rc-table-white-row">
      <div class="row">
        <div class="col-md-6">
         <div class="rc-table-left-col">DUMPTRUCK HAULING</div>
        </div>
        <div class="col-md-6">
          <div class="rc-table-right-col">
            <span class="rc-table-right-col-heading">Trucks used:</span>
            <span class="rc-table-right-col-description">dumptrucks<br>Hauling of excavated soil, coal, etc</span>
          </div>
        </div>
      </div>
    </div>

    <div class="rc-table-view-gallery">
      <%= link_to(rct_gallery_path, html_options = {class: 'view-gallery-link'}) do  %>
        VIEW GALLERY
      <% end %>
    </div>
  </section>

  <section class="rc-table-footer">
    <div class="rc-table-footer-text">
      <span class="rc-table-footer-heading">FOR INQUIRIES:</span><br>
      <span class="rc-table-footer-description"><%= link_to 'royalclasstranscorp@gmail.com', 'https://www.gmail.com', target: '_blank', class: 'contact-email-link-gray' %></span>
    </div>
  </section>

</body>
