<!DOCTYPE html>
<head>
  <nav class="navbar navbar-default navbar-fixed-top">
    <%= render 'pages/navbar' %>
  </nav>
</head>

<body>
  <section id="jpgv-s1-left">
  </section>
  <section id="jpgv-s1-right">
  </section>


</body>
