<center>BLEH</center>
<section class="timeline">
  <ul>
    <li id="first-li">
      <div>
        Hauling Republic Asahi Glass Corporation
      </div>
    </li>
    <li>
      <div>
        Hauling Republic Asahi Glass Corporation
      </div>
    </li>
    <li>
      <div>
        Hauling Republic Asahi Glass Corporation
      </div>
    </li>
    <li>
      <div>
        Hauling Republic Asahi Glass Corporation
      </div>
    </li>
    <li>
      <div>
        Hauling Republic Asahi Glass Corporation
      </div>
    </li>
    <li>
      <div>
        Hauling Republic Asahi Glass Corporation
      </div>
    </li>
    <li>
      <div>
        Hauling Republic Asahi Glass Corporation
      </div>
    </li>
    <li>
      <div>
        Hauling Republic Asahi Glass Corporation
      </div>
    </li>
    <li>
      <div>
        Hauling Republic Asahi Glass Corporation
      </div>
    </li>
    <li>
      <div>
        Hauling Republic Asahi Glass Corporation
      </div>
    </li>
    <li>
      <div>
        Hauling Republic Asahi Glass Corporation
      </div>
    </li>
    <li>
      <div>
        Hauling Republic Asahi Glass Corporation
      </div>
    </li>
  </ul>
</section>

<style>




*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  background: #333333;
  color: #fff;
  overflow-x: hidden;
  padding-bottom: 50px;
}  


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 125px;
  background: #1C75BC;
}

#first-li{
  padding-top: 75px;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 5px;
  background: inherit;
}


.timeline ul li div {
  position: relative;
  bottom: 0;
  padding: 15px;
  background: transparent;
  letter-spacing: 1px;
  font-size: 20px;
  font-family: 'Lora', serif;
  font-weight: 400;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
  top: 25px;
  width: 50vw;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border:transparent;
}

.timeline ul li:nth-child(even) div {
  left: -27vw;
  top: 25px;
  width: 25vw;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border: transparent;
}
</style>